@media only screen and (max-width: 1023px ){
  .header{
    position: relative;
    flex-direction: column;
    .header-logo{
      padding-top:20px;
    }
    .navbar{
      #contactbtn{
        margin-left: 0px;
      }
    }
  }

  .headline{
    padding-top:0px;
    flex-direction: column;
    .text-content{
      margin: 50px 0px;
      width: auto;
      text-align: center;
      p{
        text-align: center;
        line-height: 25px;
      }
    }

    .img-content{
      width: 100%;
      text-align: center;
      img{
        width: 100%;
        display: block;
      }
    }
  }
  .main-content{
    margin: 50px 10%;
    h1{
      padding-bottom: 50px;
    }
    .cards{
      flex-direction: column;
      gap: 20px 0px;
    }
  }
}

@media only screen and (max-width: 656px){
  .header{
    .navbar{
      #contactbtn{
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 438px){
  .header{
    .navbar{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a{
        padding:0px;
      }
    }
  }
  .headline{
    .text-content{
      h2:nth-of-type(1){
        padding-top: 20px;
      }
      h2:nth-of-type(2){
        font-size:60px;
      }
    }
  }
}